@tailwind base;
@tailwind components;
@tailwind utilities;

/*------------------- font-family --------------------------*/

@font-face {
  font-family: 'Megatron-rAo9';
  src: url('./static/fonts/Megatron-rAo9.ttf');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('./static//fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('./static//fonts/Gilroy-Light.otf');
}

/* boilerplate */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body,
html {
  width: 100%;
  background-color: black;
  height: 100%;
  /* overflow-x: hidden;     */
}

/* grid-background */
.grid-bg {
  background-image: radial-gradient(circle at center center, transparent 0%, rgb(33, 33, 33) 99%), repeating-linear-gradient(0deg, rgba(163, 163, 163, 0.2) 0px, rgba(163, 163, 163, 0.2) 1px, transparent 1px, transparent 6px), repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.2) 0px, rgba(163, 163, 163, 0.2) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

/* darkness for image */
.bg-image {
  position: relative;
}

.dark-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}